
body{
    font-size: 20px;
    width: 100%;
    margin: 0;
    height: 100%;
}
.text{
    float: left;width: 40%;
    padding-right: 55px;background: #FFF1F9;padding-left: 55px;padding-top: 50px;
}
.cbox {
    float: left;
}

#table_corr {
    font-size: 12px;
    cursor: pointer;
    float: left;
    text-align: center;
    margin-left: 40px;
    font-size: 15px;
}
.data {
    fill: #3987BD;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    margin-bottom: 100px;
}

td {
    height: 100px;
    width: 100px;
}

table, td {
    border: 1px solid #CDCDCD;
}

.form-board {
    color: black;
    background-color: white;
    border: 1px solid #D0D0D0;
    box-shadow: inset 0px 0px 1px 0px #ABABAB;
    padding: 5%;
    width: 80%;
}
#svgCorr{
    height: 100%;
}
.form-check {
    position: relative;
    padding-left: 1.5em;
    padding-right: 0.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #D0D0D0;
    border-radius: 10%;
}

.form-check:hover input~.checkbox-mark {
    background-color: #ccc;
}

.form-check input:checked~.checkbox-mark {
    background-color: white;
}

.checkbox-mark:after {
    content: "";
    position: absolute;
    display: none;
}

.form-check input:checked~.checkbox-mark:after {
    display: block;
}

.form-check .checkbox-mark:after {
    left: 6px;
    top: 2.5px;
    width: 5px;
    height: 10px;
    border: solid #64bdff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.interactive-wrapper {
    margin-left: 40px;
    display: block;
    text-align: center;
    width: 570px;
}  
img{
    margin-left: 40%;
}

.click { background-color: #fff; }
.hover { background-color:  #fff }

.hover_corr { opacity: 0.6 !important; }
.click_corr { border: 3px solid  #fff !important; }

.svgdiv{
    position: fixed;
    /* margin: 0 auto; */
    float: left;
    width: 50%;
    padding-right: 10px;
    height: 80%;
    margin-top: 50px;
    margin-left: 0px;
    left: 50%;
}
#reminder{
    display: none;
}
html{
    width: 100%;
    height: 100%;
}
.show{
    position:relative !important;
    opacity: 1;
    display: block;
    left: 25% !important;
    top: 120px !important;
}
.notshow{
     opacity: 0;
    display: none;
}
@media screen and (max-width: 1200px) {
     .text{
         font-size: 15px;
     }
    .svgdiv{
        
        left: 52%;   
        height: 400px;
        margin-top: 0;
    } 
    #reminder{
        display: block;
    }
    .interactive-wrapper{
       margin-left: 0;
       width: 510px;
    } 
    .form-board{
        padding-left: 10px;
    }
} 
